

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #353535;
    background: #f2f2f2;
}

#app {
    min-width: 20vw;
    max-width: max-content;
    height: 90vh;
    border-radius: 50px;
    background: #f2f2f2;
    box-shadow: 20px 20px 60px #cecece,
        -20px -20px 60px #ffffff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.search {
    margin: 10px auto;
}

form {
    margin-top: 1em;
}

#input {
    /* max-width: 190px; */
    background-color: #fcfbfb;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 15px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;

}

#input:focus {
    border-bottom: 1px solid #5b5fc7;
}

#input:hover {
    outline: 1px solid lightgrey;
}

#addButton {
    border-radius: 46px;
    background: #f2f2f2;
    box-shadow: 14px 14px 28px #dfdfdf,
        -14px -14px 28px #ffffff;

    cursor: pointer;
    border: none;
    padding: .15rem 2rem;
    min-height: 40px;
    color: rgb(83, 83, 83);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: all 200ms ease;
}

#addButton:hover {
    color: rgb(172, 172, 172);
}

#addButton:active {
    background: linear-gradient(145deg, #dddddd, #ffffff);
    box-shadow: 20px 20px 40px #d0d0d0, -20px -20px 40px #ffffff;
}

.DYM {
    /* height: 30px; */
    /* position: absolute; */
    /* top: 15%;
    left: 50%;
    transform: translate(-50%); */
    z-index: 100;
    margin: 1em auto;
}

.didYouMean {
    /* position: absolute; */
    /* top: 17%; */
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.choice {
    width: fit-content;
    height: max-content;
    padding: 4px;
    margin: 0 5px;
    border-radius: 15px;
    background: #f5f5f5;
    box-shadow: 6px 6px 12px #ebebeb, -6px -6px 12px #ffffff;
    text-align: center;
    transition: all 2000ms ease;
    cursor: pointer;
    
}

.choice:hover {
    color: #353535;
}

.choice:active {
    background: linear-gradient(145deg, #dddddd, #ffffff);
    box-shadow: 20px 20px 40px #d0d0d0, -20px -20px 40px #ffffff;
}

.info {
    /* position: absolute; */
    top: 35%;
    width: 100%;
    /* width: fit-content; */
}



.didYouMean {
    display: flex;
}

p {
    margin:  10px;
    
}




.weatherIcon {
    width: 100px;
    height: 100px;
    margin: 1em auto;
}

.cityName {
    text-align: center;
    /* font-size: 250%; */
    height: min-content;
    padding: 0;
    margin: 0;
}

/* .top {
    margin-top: 40px;
} */

.details {
    /* font-size: 4vw; */
    font-size: 190%;
}



#hourly {
    display: flex;
    overflow-x: scroll;
    text-align: center;
    justify-content: start;
    height: 11vh;
    padding: 0 1rem;
    width:95%;
    margin: 0 auto;
}

#hourly div {
    height: 8.5vh;
    margin-top: 1vh;
    margin: 5px;
    padding: 0 5px;
    /* margin-bottom: 5px; */
    border-radius: 17px;
    background: #f5f5f5;
    box-shadow: 5px 5px 5px #eeeeee, -5px -5px 5px #fcfcfc;
}

#hourly::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.075);
    border-radius: 10px;
    background-color: #ffffff;
}

#hourly::-webkit-scrollbar {
    height: 5px;
    background-color: #ffffff;
}

#hourly::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.212);
    background-color: #ffffff;
}






@media only screen and (max-width:980px) {
    #app {
        width: 90vw;
    }

    /* .cityName {
        font-size: 600%;
    } */

    .didYouMean {
        justify-content: center;
        font-size: 3vw;

    }

    .choice {
        margin: 0 0.1em;
    }


}